{% extends 'template.html' %}

{% block body %}
<section>
  <h2>Boas-vindas</h2>
  <p>Olá, {{ dados['usuario'].nome }}!</p>
  <p>Sua descrição é "{{ dados['usuario'].descricao }}".</p>
</section>
<section>
  <h3>Usuários</h3>
  <ul>
    {% for usuario in dados['usuarios'] %}
      <article>
        <h4>
          {% if usuario.status %}

          <ins>{{ usuario.nome }}</ins>

          {% else %}

          <del>{{ usuario.nome }}</del>

          {% endif %}
        </h4>
        <p>{{ usuario.descricao }}</p>
      </article>
    {% endfor %}
  </ul>
</section>
{% endblock %}