{% extends 'template.html' %}

{% block body %}
<section>
  <h2>Boas-vindas</h2>
  {% if session['usuario'] and session['descricao'] and session['estado'] and session['escolaridade'] %}
  <p>Olá, {{ session['usuario'] }}!</p>
  <p>Sua descrição é "{{ session['descricao'] }}".</p>
  <p>Localização: {{ session['estado'] }}</p>
  <p>Escolaridade: {{ session['escolaridade'] }}</p>
  {% else %}
  <p>Você precisa fazer <a href="{{url_for('login')}}">login</a>.</p>
  {% endif %}
</section>
<section>
  <h3>Usuários</h3>
  <ul>
    {% for usuario in usuarios %}
      <article>
        <h4>
          {% if usuario.status %}
          <ins>{{ usuario.nome }}</ins>
          {% else %}
          <del>{{ usuario.nome }}</del>
          {% endif %}
        </h4>
        <p>{{ usuario.descricao }}</p>
      </article>
    {% endfor %}
  </ul>
</section>
{% endblock %}