<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>micro_blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>micro_blog</strong></li>
        </ul>
        <ul>
          <li><a href="{{ url_for('index') }}">Início</a></li>
          <li><a href="{{ url_for('contatos') }}">Contatos</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
      </nav>
  </header>
  <main class="container">
    {% block body %}

    {% endblock %}
  </main>
</body>
</html>